{% extends 'accounts/user_entry_layout.html'%}

{% block sidenav %}
		<h1>Omart</h1>
		<h2>Login Page</h2>
		<p>Login or register from here to access.</p>
{% endblock sidenav %}


{% block accounts_content_form%}

<form method="POST" action=''>
    {%csrf_token%}
    {{form.as_p}}
    <button type="submit" value="submit" class="btn btn-black">Log In</button>
    <a type="button" href="{% url 'Omart-register' %}" class="btn btn-secondary">Sign up</a>

</form>

{% endblock accounts_content_form %}
{% block extra_caption %}
<div class='text-center'>
    <small>Forget your password <a class='btn btn-sm btn-outline-secondary' href="{% url 'password-reset' %}"> Reset
        Password</a></small>
</div>

{% endblock extra_caption %}