{% extends 'accounts/user_entry_layout.html'%}

{% block accounts_content_form%}

<body>
<section class=" shadow-sm btn-group-horizontal container">
    <form method="POST" action="" class="form-group " enctype="multipart/form-data">
        <fieldset>
			<legend class='border-bottom mb-4'> Reset Password</legend>
			{{form.as_p}}
       
        </fieldset>
    <button class="btn btn-outline-primary" type='submit'> Reset Password</button>
    </form>
</section>

{% endblock accounts_content_form %}