{% extends 'OMart/layout.html' %}
{%block body %}

{{title}}
{{product_id}}

<br>



<section class="content">
	<div class="row">
		<div class="col-md-4">
			<img src="{{item.product_photo.url}}" class="img-fluid img-thumbnail img-responsive" alt="Nothing">
			{% comment %} style='max-width:30%;' {% endcomment %}
		</div>
		<div class="col-md-8">
			<h1 class="display-6">{{item.product_name}}</h1>
			<p class="lead">
				{{item.product_description | safe  }}
			</p>
			
			<aside class=''>
				<ul class="list-unstyled">
					
					<li>This is a list.</li>
					<li>It appears completely unstyled.</li>
					<li>Structurally, it's still a list.</li>
					<li>However, this style only applies to immediate child elements.</li>
					<li>Nested lists:
						<ul>
							<li>are unaffected by this style</li>
							<li>will still show a bullet</li>
							<li>and have appropriate left margin</li>
						</ul>
					</li>
					<li>This may still come in handy in some situations.</li>
				</ul>
			</aside>

			<button type="button" class="btn btn-primary btn-sm">Small button</button>
<button type="button" class="btn btn-secondary btn-sm">Small button</button>


<form action='' method='POST'>
	{% csrf_token %}
	{{form.as_p}}
	<button class="btn btn-success btn-outline-succes ">Confirm</button>
</form>


		</div>
	</div>

</section>








<article>
	There are four different techniques to create multicolumn layouts. Each technique has its pros and cons:

    CSS framework
    CSS float property
    CSS flexbox
    CSS grid

</article>







  <blockquote class="blockquote">
	<p>A well-known quote, contained in a blockquote element.</p>
  </blockquote>

  <figure class="text-center">
	<blockquote class="blockquote">
	  <p>A well-known quote, contained in a blockquote element.</p>
	</blockquote>
	<figcaption class="blockquote-footer">
	  Someone famous in <cite title="Source Title">Source Title</cite>
	</figcaption>
  </figure>


 



  

  <!-- On tables -->
<table class="table-primary">...</table>
<table class="table-secondary">...</table>
<table class="table-success">...</table>
<table class="table-danger">...</table>
<table class="table-warning">...</table>
<table class="table-info">...</table>
<table class="table-light">...</table>
<table class="table-dark">...</table>

<!-- On rows -->
<tr class="table-primary">...</tr>
<tr class="table-secondary">...</tr>
<tr class="table-success">...</tr>
<tr class="table-danger">...</tr>
<tr class="table-warning">...</tr>
<tr class="table-info">...</tr>
<tr class="table-light">...</tr>
<tr class="table-dark">...</tr>

<!-- On cells (`td` or `th`) -->
<tr>
  <td class="table-primary">...</td>
  <td class="table-secondary">...</td>
  <td class="table-success">...</td>
  <td class="table-danger">...</td>
  <td class="table-warning">...</td>
  <td class="table-info">...</td>
  <td class="table-light">...</td>
  <td class="table-dark">...</td>
</tr>


{% comment %} <script>
	$('meta[name=author]').attr('content', 'New Author Name');
</script> {% endcomment %}


{% endblock %}